body{
  background-color: black;
}
.begin{
  margin: 0 auto;
  width: 300px;
  background-color: lightblue;
  border-radius: 20%;
 /* -webkit-animation: begin 2s ease;
 // -webkit-animation-direction: normal;
 // animation: begin 2s ease;
 // animation-direction: normal;
 */
}
/*@keyframes begin{
  0%{
    top: 40px;
  }
  100%{
    top: 20px;
  }
}
*/
input{
  text-align: center;
  display: block;
  margin: 0 auto;
}

h2{
  text-align: center;
  color: white;
  font-family: "Walter Turncoat", cursive;
}

.buttons{
  text-align: center;
  font-family: "Walter Turncoat", cursive;
}

.start_Game{
  display: none;
}

#tictactoe{
  width: 300px;
  margin: 0 auto;
}

#board{
 width: 300px;
 margin: 0 auto;
 padding-top: 50px;
}

.spot{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: black;
  font-family: "Walter Turncoat", cursive;
  font-size: 300%;
}

#score{
  width: 300px;
  height: 100px;
  margin: 0 auto;
  padding: 30px 30px 30px 30px;
}

#testing{
  width: 300px;
  margin: 0 auto;
}

#myCanvas{
  width: 120px;
}

#myCanvas2{
  width: 120px;
}

#testing2{
 width: 280px;
 margin: 0 auto;
 border-bottom: 5px solid white;
}

.box{
  font-family: "Walter Turncoat", cursive;
  color: white;
  width: 150px;

}

.box1{
  color: white;
  font-family: "Walter Turncoat", cursive;
  width: 75px;
  position: relative;
  top: -20px;
  left: 50%;
}
.spot{
  font-size: 300%;
}
/*
#line1{
  width: 3px;
  height: 80px;
  background-image: radial-gradient(cyan 0%, transparent 20%, white 40%);
  margin: 0 auto;
}

#line2{
  width: 250px;
  height: 3px;
  background-image: radial-gradient(cyan 0%, transparent 20%, white 40%);
  margin: 0 auto;
  position: absolute;
  top: 120px;
  left: 350px;
}
*/

#restart{
  cursor: pointer;
  background-image: radial-gradient(red 60%, gray 20%);
  font-family: "Walter Turncoat", cursive;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: right;
}
/*

@media only screen and (max-width: 480px)  {
   body {
        background-color: lightgreen;
    }
    .spot{
      background-color: lightgreen;
    }
    .box{
      position: absolute;
      left: -20%;
    }
    .box1{
      position: absolute;
      left: 20%;
    }
    #line2{
      position: absolute;
      left: 10%;
    }

    #myCanvas{
      height: 20px;
    }
    #myCanvas2{
      height: 20px;
    }

}
*/